/* CSS Document */
.box_footer {
	height: 88px;
	margin-left: auto;
	margin-right: auto;
	background: url(../image/footer_background.png);
	overflow: hidden;
}

.text_footer {
	text-align: center;
	font-size: 12px;
	line-height: 180%;
	margin-top: 20px;
	color: #515151;
}

.text_footer a {
	color: #515151;
	text-decoration: none;
}

.text_footer a:hover {
	text-decoration: underline;
}